	<!-- Main template-->

	<!DOCTYPE html>

	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Python Programming Tutorial</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'bootstrap/css/bootstrap.min.css')}}">
		<!-- Favicon.ico -->
		<link rel="short icon" type="text/css" href="{{url_for('static',filename = 'favicon.ico')}}">
	</head>



	<header>
		<!-- Image and text -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{{url_for('static',filename = 'img/logo.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
				Ejemplo de Flask
			</a>
		</nav>
	</header>
	

	<body>

		<h1>Hi there how are you doin'</h1>
		<p>Como estás?</p>
	</body>











	</html>